

<form class="form-inline my-2 my-lg-0">
        <input style="width: 700px; height: 40px;margin-left:20%;
        margin-right:7%;display:block;margin-top:0%;margin-bottom:0% " 
        class="form-control mr-sm-2" type="search" placeholder="Search a Question" aria-label="Search"
        [(ngModel)]="term" name="term">
        
        </form><br> <br> <br>

        <table class="table table-hover">
                        <tr>
                          <td><b><h2>AKSED BY</h2></b></td>
                          <td><b><h2>TITLE</h2></b></td>
                          <td><b><h2> TAGS</h2></b></td>
                          <td><b><h2> TOTAL ANSWERS</h2></b></td>

                      </tr>
                      
                        <tr *ngFor="let q of list | filter:term  | paginate: { itemsPerPage: 10, currentPage: p }">
                                    <td> <h4 >{{q.username}}</h4></td>
                                    <td> <b><h4 routerLink = "/uanswer"
                                      [queryParams] = "{Id: q.questionId ,qQ:q.Title }"> <b>{{q.Title}}</b>          </h4></b></td>  
                                      <td > <h4 >{{q.tags}}</h4></td>
  
                                    <td> <h4 >  {{q.NumberOfAnswers}} </h4></td> 
                                    
                                    
                                      <img  src="data:image/jpeg;base64,{{q.QuestionImage}}" style="width: 100px;height: 100px;"> 
                                      
                                    </tr><pagination-controls (pageChange)="p = $event"></pagination-controls>
                                  </table>