
<h1 class="display-4 text-center"style="animation: cubic-bezier(0.075, 0.82, 0.165, 1);text-align: center;background-color:whitesmoke">ADD A QUESTION</h1>
<form #form="ngForm" (submit)="onSubmition(form)" autocomplete="off">
         
        
    <div class="form-group">
        <label style="
        width: 500px; height: 40px;margin-left:30%;
            margin-right:7%;display:block;margin-top:0%;margin-bottom:0%;font-family: 'Times New Roman', 
            Times, serif ; font-size: 25px"><b>Title</b></label>
        <input style="
        width: 500px; height: 40px;margin-left:30%;
            margin-right:7%;display:block;margin-top:0%;margin-bottom:0% "
             name="Title"   #Title="ngModel" [(ngModel)]="Form.Title"    
              class="form-control" required>
         </div>
         <div class="validation-error" *ngIf ="Title.invalid && Title.touched ">

                <p style="
                width: 500px; height: 40px;margin-left:30%;
                    margin-right:7%;display:block;margin-top:0%;margin-bottom:0% " *ngIf="Title.errors.required">TITLE IS REQUIRED</p>
                

         </div>




         <div class="form-group">
            <label style="
            width: 500px; height: 40px;margin-left:30%;
                margin-right:7%;display:block;margin-top:0%;margin-bottom:0%;font-family: 'Times New Roman', 
                Times, serif ; font-size: 25px"><b>Description</b></label>
            <input style="
            width: 500px; height: 40px;margin-left:30%;
                margin-right:7%;display:block;margin-top:0%;margin-bottom:0% " name="Description"   #Description="ngModel" [(ngModel)]="Form.Description"     class="form-control" required>
             </div>
             <div class="validation-error" *ngIf ="Description.invalid && Description.touched ">

                    <p style="
                    width: 500px; height: 40px;margin-left:30%;
                        margin-right:7%;display:block;margin-top:0%;margin-bottom:0% " *ngIf="Description.errors.required">DESCRIPTION IS REQUIRED</p>
                    
    
             </div>



             <div class="form-group">
        <label style="
        width: 500px; height: 40px;margin-left:30%;
            margin-right:7%;display:block;margin-top:0%;margin-bottom:0%;font-family: 'Times New Roman', 
            Times, serif ; font-size: 25px"><b>Tags</b></label>
        <input style="
        width: 500px; height: 40px;margin-left:30%;
            margin-right:7%;display:block;margin-top:0%;margin-bottom:0% " name="tags"   #tags="ngModel" [(ngModel)]="Form.tags"     class="form-control" required>
         </div>

         <div class="validation-error" *ngIf ="tags.invalid && tags.touched ">

                <p style="
                width: 500px; height: 40px;margin-left:30%;
                    margin-right:7%;display:block;margin-top:0%;margin-bottom:0% " *ngIf="tags.errors.required">TAG IS REQUIRED</p>
                

         </div>

         
         <div class="form-group">
            <button  style="
            width: 300px; height: 40px;margin-left:37%;
                margin-right:7%;display:block;margin-top:0%;margin-bottom:0% "[disabled]="!form.valid"  type="submit"  class="btn btn-mg btn-block">SUBMIT</button>
        </div>
    </form>

