
<h1 class="display-4 text-center"
style="animation: cubic-bezier(0.075, 0.82, 0.165, 1);text-align: 
center;background-color:whitesmoke">ANSWERS</h1>
<h1 style="text-align: center"><b>{{questions}}</b></h1>


<li class="navbar-brand">
    <a  routerLink="/" routerLinkActive="active-link">HOME</a>
  </li><br>

<div>
    <pagination-controls (pageChange)="p=$event"></pagination-controls>
</div>
<table class="table table-hover">
        <tr>
                <th>Answers </th>
                <th>Total Likes </th>
                <th>Total DisLikes </th>
                
                
        </tr>
        <tr *ngFor="let q of answersList | paginate: { itemsPerPage: 10, currentPage: p }">
    
    <td>{{q.answers}}  </td>
    <td>{{q.NumberOfUpVotes}}</td>
    <td>{{q.NumberOfDownVotes}}</td>
    
</tr>   <pagination-controls (pageChange)="p = $event"></pagination-controls>

    </table>
    <br><br><br><br><br>





    <!-- <h3>KNOW THE ANSWER..?</h3>

<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
         
        
    <div class="form-group">
       
        <input style="
        width: 1000px; height: 100px;margin-left:8%;
        margin-right:8%;display:block;margin-top:0%;margin-bottom:0% " 
        name="answers"   #answers="ngModel" [(ngModel)]="service.formAnswerData.answers"   placeholder="Type Your Answer....."  class="form-control" required>
         </div>
         <div class="validation-error" *ngIf ="answers.invalid && answers.touched ">
                <p style="
                width: 500px; height: 40px;margin-left:30%;
                    margin-right:7%;display:block;margin-top:0%;margin-bottom:0% "
                     *ngIf="answers.errors.required">ANSWER IS REQUIRED</p>
                 -->

         <!-- </div><div class="form-group">
                <button  style="
                width: 300px; height: 40px;margin-left:37%;
                    margin-right:7%;display:block;margin-top:0%;margin-bottom:0% "[disabled]="!form.valid"  type="submit"  class="btn btn-mg btn-block">SUBMIT</button>
            </div>
        </form> --> 

