<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Buffer Overflow</a>
    
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="navbar-brand">
          <a  routerLink="" routerLinkActive="active-link">HOME</a>
        </li>
        <li class="navbar-brand">
          <a  routerLink="login" routerLinkActive="active-link">LOGIN</a>
        </li>
        <li class="navbar-brand">
          <a  routerLink="register" routerLinkActive="active-link">REGISTER</a>
        </li>
       
       
      </ul>
     
    </div>
  </nav>
